.media_silder_item {
  display: flex;
  flex-direction: column;
}
.media_silder_item img {
  width: 6rem;
  height: 6rem;
  border-radius: 0.6rem;
}

@media (max-width: 767px) {
  .media_silder_item img {
    object-fit: fill;
    width: 3rem;
    height: 3rem;
    border-radius: 0.6rem;
  }
}
